*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-image: linear-gradient(to right, #2cb79f, #274568);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.todo-container{
    height: 50%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.todo-heading h1{
    font-size: 2.3rem;
    text-shadow: 1px 1px 3px white;
}
.todo-input{
    border: none;
    width: 150px;
    height: 25px;
    font-size: 15px;
    padding:2px;
    line-height: 1.5;
    background-color: rgb(150, 149, 149);
    color: white;
    text-shadow: 1px 0 black;
    border-radius: 4px;
}
#add-button{
    height: 25px;
    border-radius: 4px;
}
.todo-lists{
    display: flex;

    justify-content: space-between;
    padding-left: 1rem;

}
.todo-item{
    font-size: 15px;
    color: white;
    padding-left: 5px;
}
.del-btn{
    position: relative;
    right: 30px;;
    height: 20px;
    border-radius: 4px;
    width: 50px;

}